hr {
    width: 100%;
    background-color: gainsboro;
}

ul {
    list-style: none;
}

.dots li::before {
    content: "•";
    color: #00a988;
    display: inline-block;
    width: 1em;
    margin-left: -1em
    }

nav {
    background-color: white;
    width: 100%;
    height: 10%;
    position: absolute;
    border-color: #00a988;
    border-style: solid;
    border-width: 1px;
}

nav img {
    height: 50px;
}

.nav-link{
    transform: translatex(10%);
    margin: 20px;
}


#home{
    position: relative;
    padding-top: 10vw;
    padding-bottom: 5vw;
}

#home h2 {
    color:#014e7a;
}

#imagenMain{    
    position: relative;
}

#imagenMain img{
    width: 100%;
    height: auto;
}

#cloud {
    background-color: #014e7a;
    position: relative;
    padding-top: 1%;
    width: 100%;
}

.card-body{
    
    color: #02466c;
    border-right: 2.5px solid #00a988;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
    
}

.text-card{
    padding-left: 2em;
}

.description {
    color: #02466c;
    font-weight: bold;
    
}


.imageMain {
    width: 250px;
    position: relative;
    left: 420px;
    top: 15px;
    bottom: 40px;
}

#platforms {
    background-color: #dcfff8;
}

#platforms h2{
    color: #014e7a;
}

#services {
    color:white;
    background-color: #027fc7;
}
.imageSub {
    width: 150px;
    align-items: flex-end;
    
}

#contact{
    background-color: #014e7a;
    color: white;
}

#comments{
    height:148px;
}

#submit{
    width: 175px;
    background-color: #00a988;
    border-radius: 0px;
}

#imagen {
    float:left;
}

.imagenIzq {
    float:left;
    padding-right: 20px;
}

.imagenCloud {
    padding-right: 150px;
}